{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<img src="{{noticia.imagen.url}}" width="500" height="500">
			<p class="text-muted">TITULO: {{noticia.titulo}}</p>
			
			<p class="text-muted">FECHA: {{noticia.fecha}}</p>
			<p class="text-muted">CATEGORIA: {{noticia.categoria_noticia}}</p>
			<p class="text-muted">CUERPO: {{noticia.cuerpo}}</p>

		</div>
		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
				<textarea name="comentario" maxlength="1500"> </textarea>
				<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""> 
				<input type="submit" value="GUARDAR">
			</form>
		</div>	

		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<h3>COMENTARIOS</h3>
			<br>
			{% for com in comentarios %}
			<strong>{{com.fecha}}</strong><br>
			<strong>Usuario: {{com.usuario}}</strong><br>
			<p>{{com.texto}}</p>
			{% if user == com.usuario %}
			<a href="">borrar</a>
			{% endif %}
			{% endfor %}

		</div>
		<div>
			<a href="{% url 'noticias:listar' %}">VOLVER</a>
		</div>
{% endblock contenido %}

