{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">

		<a href="{% url 'noticias:crear_noticia' %}">Nueva</a>
		<a href="{% url 'noticias:listar' %}">Todas</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}

	</div>
	<div class="row">
		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<h1 class="fw-bolder">Noticias del Blog</h1>
			<h5 class="text-muted">Todas las últimas noticias estan aquí</h5>
		</div>
	</div>

	{% for noti in noticias %}
	<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
		<img src="{{noti.imagen.url}}" width="100" height="100">
		<h3 class="fw-bold">
		<a href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
		</h3>	
		
		<p class="text-muted">{{noti.fecha}}</p>
		<p class="text-muted">{{noti.categoria_noticia}}</p>
		<p class="text-muted">{{noti.cuerpo}}</p>
		<br><br>
	</div>
	{% endfor %}
{% endblock contenido %}

