{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Restableces contraseña</h2>
<form method="POST">
    {% csrf_token %}
    {% form|crispy %}
    <button type="submit">Enviar correo electronico</button>
</form>
{% endblock %}

<center>
    <div class="contenido" style="margin-top: 370px;">
        <div class="messages">
            {% for message in messages %}
                <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>