{% load static %}
<!DOCTYPE html>
<html lang="es-ar">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MI WEB| {% block titulo %}{% endblock titulo %}</title>

	<!-- Bootstrap (tema de Bootswatch) -->
	<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">

	<!-- Tu CSS personalizado -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<!-- Si hay otro archivo css importante como 'main.css' (puedes descomentar si es necesario) -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->

</head>

<body>

	<!-- Barra de navegación -->
	<div>
		{% include 'barra.html' %}
	</div>

	<!-- Contenido de la página -->
	<div>
		{% block contenido %}
		{% endblock contenido %}
	</div>

</body>
</html>
